/* PARENT CSS */
%bolded-body-font {
  color: $font-body-color;
  font-weight: bold;
}

%main-logo {
  font-family: $font-family-headings;
  color: $heading-color;
}

%btn-warning-colors {
  background: $yellow-click-color;
  border-color: $yellow-border-color;
  color: white;
}

/* SVG STYLING */
.cls-1{fill:#ced3dc;stroke:#000;stroke-miterlimit:10;}

/* CLASSES */
.bad-msg {
  color: $red-bg-color;
}

.battleship_cell {
  fill: $ocean-blue;
  fill-opacity: .85;
  stroke-width: 2px;
  stroke: black;
}

.chat-err-msg {
  color: $red-bg-color;
}

.create-acct-btns {
  text-align: center;
}

.done-word {
  display: none;
}

.err-msg {
  margin: auto;
  text-align: center;
}

.forms {
  margin: auto;
  width: 500px;
}

.good-msg {
  color: $green-bg-color;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

.lobby-heading {
  color: $font-body-color;
  font-family: $lobby-font;
  font-size: $lobby-font-size;
}

.login-btns {
  text-align: center;
}

.main-logo {
  @extend %main-logo;
  font-size: 150pt;
}

.modal-content {
  background-color: black;
  color: $font-body-color;
}

.pwd-chars-msg {
  color: $red-bg-color;
  display: none;
  word-wrap: break-word;
}

.pw-toggle-group {
  position: relative;
}

.pw-toggle-group a {
  position: absolute;
  right: 1em;
  top: 0.5em;
  color: black;
}

.pw-toggle-group a.pw-hide {
  color: black;
}

.pw-toggle-group a:hover,
.pw-toggle-group a:focus {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.ship-placement {
  fill: black;
  fill-opacity: .85;
}

.sub-logo {
  @extend %main-logo;
  font-size: 7vw;
  position: absolute;
  bottom: 1%;
  left: 0;
}

.sub-title {
  font-family: $font-family-headings;
  color: $heading-color;
  font-size: 100pt;
  text-align: center;
}

.user-forms {
  display: block;
  margin: auto;
}

.user-icon {
  width: 35px;
  height: 35px;
}

.user-menu-option {
  cursor: pointer;
}

.user-row {
  cursor: pointer;
}

/* IDs */
#battleship-load {
  display: none;
  margin: auto;
}

#boards-container {
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
}

#boards-container svg {
  display: block;
  margin: 1% auto 0;
}

#boards-control {
  display: flex;
  width: 700px;
  height: 15%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

#chall-err-msg {
  color: $red-bg-color;
}

#challenge-btns {
  text-align: center;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

#challenge-table {
  background: $lobby-divs-color;
}

#challenge-table table {
  background: $lobby-divs-color;
  margin: 0;
}

#chat-box {
  font-weight: bold;
  color: $heading-color;
  height: 75%;
  overflow: auto;
  background: black;
}

#err-heading {
  font-family: $font-family-headings;
  color: $heading-color;
  font-size: 50pt;
}

#fire-btn {
  display: none;
}

#game-boards {
  height: 70%;
}

#game-chat {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: $black-game-bg;
}

#game-chat-box {
  height: 150px;
  color: white;
  font-weight: bold;
  overflow-y: auto;
  padding-left: 10px;
  padding-top: 10px;
}

#game-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game-input-chat-text {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#hide-chat {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

#hit-square {
  fill: $red-bg-color;
}

#hud-container {
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
  background-color: $black-game-bg;
}

#input-chat-text {
  margin-top: 5%;
  margin-bottom: 0;
}

#lobby-chat {
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 30%;
  height: 25%;
}

#lobby-container {
  position: relative;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

#lobby-table {
  background: $lobby-divs-color;
  flex: 1 1 auto;
}

#lobby-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-redirect, #login-redirect a, #login-redirect a:hover {
  color: $font-body-color;
  text-decoration: none;
  @extend %bolded-body-font;
  font-size: 20pt;
}

#logout-menu-option {
  color: $red-bg-color;
}

#main-landing {
  margin: auto;
  text-align: center;
  width: 95%;
}

#miss-square {
  fill: white;
}

#new-challenge .modal-header {
  border-bottom: none;
}

#new-challenge-body .table {
  display: none;
}

#opponents-board {
  display: none;
}

#rader-alert-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $lobby-font;
  font-size: 8vh;
}

#radar-hit-msg {
  color: $red-bg-color;
  display: none;
}

#radar-miss-msg {
  color: white;
  display: none;
}

#radar-msg-update {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10px;
  width: 350px;
  height: 350px;
}

#radar-msg-update img {
  width: 100%;
  height: 100%;
}

#rmve-player-btn {
  float: right;
}

#ship-names {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 50px;
  width: 80%;
  height: 35%;
  align-items: center;
}

#ship-names-txt {
  color: white;
  font-family: $lobby-font;
  font-size: 2.5vh;
  width: 100%;
}

#ship-names-txt hr {
  border: 2px solid white;
  width: 100%;
}

#turn-tracker {
  position: absolute;
  width: 100%;
  height: 5%;
  display: flex;
  top: 375px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: $lobby-font;
  font-size: 2.5vh;
}

#turn-tracker input[type='radio'] {
  margin-right: 5px;
  background-color: $heading-color;
}

#turn-tracker input[type="radio"].with-gap:checked+label:after {
  background-color: #FFA500 !important;
}

#turn-tracker input[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
  border: 2px solid #FFA500 !important;
}

#user-challenge {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 0;
  top: 5%;
  bottom: 1%;
  display: flex;
  flex-flow: column;
}

#user-lobby {
  position: absolute;
  right: 0;
  top: 5%;
  bottom: 1%;
  min-height: 90%;
  max-height: 90%;
  width: 50%;
  overflow: auto;
  display: flex;
  flex-flow: column;
}

#user-menu-body {
  @extend %bolded-body-font;
  text-align: center;
}

#user-menu-btn {
  margin-bottom: 1rem;
}

#user-menu-label {
  color: $heading-color;
  text-align: center;
}

#user-msg {
  display: none;
}

/* BOOTSTRAP OVERRIDES */
.alert-danger {
  background-color: $red-bg-color;
  border-color: $red-border-color;
  color: $font-body-color;
}

.alert-success {
  background-color: $green-bg-color;
  border-color: $green-border-color;
  color: $font-body-color;
}

.btn-danger {
  background: $red-bg-color;
  border-color: $red-border-color;
}

.btn-danger:hover {
  background: $red-hover-color;
}

.btn-warning {
  background: $heading-color;
  border-color: $yellow-border-color;
  color: white;
}

.btn-warning:active {
  @extend %btn-warning-colors;
}

.btn-warning:focus {
  @extend %btn-warning-colors;
}

.btn-warning:disabled {
  border-color: $yellow-border-color;
  color: white;
}

.btn-warning:hover {
  background: $yellow-hover-color;
  color: white;
}

.btn-warning:visited {
  @extend %btn-warning-colors;
}

.btn-success {
  background: $green-bg-color;
  border-color: $green-border-color;
}

.btn-success:hover {
  background: $green-hover-color;
}

.close, .close:hover {
  color: $font-body-color;
}

.table {
  @extend %bolded-body-font;
  background-color: $lobby-divs-color;
}

textarea {
  resize: none;
}

/* KEYFRAMES */
@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}