/* CLASSES */
.create-acct-btns {
  text-align: center;
}

.done-word {
  display: none;
}

.forms {
  margin: auto;
  width: 500px;
}

.login-btns {
  text-align: center;
}

.pwd-chars-msg {
  color: $red-bg-color;
  display: none;
  word-wrap: break-word;
}

.pw-toggle-group {
  position: relative;
}

.pw-toggle-group a {
  position: absolute;
  right: 1em;
  top: 0.5em;
  color: #23527C;
}

.pw-toggle-group a.pw-hide {
  color: #23527C;
}

.pw-toggle-group a:hover,
.pw-toggle-group a:focus {
  cursor: pointer;
  text-decoration: none;
}

.sub-title {
  font-family: $font-family-headings;
  color: $heading-color;
  font-size: 100pt;
  text-align: center;
}

.user-forms {
  display: block;
  margin: auto;
}

/* IDs */
#main-landing {
  margin: auto;
  text-align: center;
  width: 95%;
}

#main-title {
  font-family: $font-family-headings;
  font-size: 150pt;
  color: $heading-color;
}

#user-msg {
  display: none;
}

/* BOOTSTRAP OVERRIDES */
.alert-danger {
  background-color: $red-bg-color;
  border-color: $red-border-color;
  color: $font-body-color;
}

.alert-success {
  background-color: $green-bg-color;
  border-color: $green-border-color;
  color: $font-body-color;
}

.btn-danger {
  background: $red-bg-color;
  border-color: $red-border-color;
}

.btn-danger:hover {
  background: $red-hover-color;
}

.btn-success {
  background: $green-bg-color;
  border-color: $green-border-color;
}

.btn-success:hover {
  background: $green-hover-color;
}