$green-bg-color: #008148;
$green-border-color: #5C7F4C;
$green-hover-color: #00BF6B;

$red-bg-color: #DE1A1A;
$red-border-color: #7F2211;
$red-hover-color: #BF1616;

$font-body-color: #E8EBF7;
$font-family-headings: 'MachineStd-Bold', sans-serif;

$heading-color: #e0a93d;

$lobby-divs-color: rgba(0,0,0,.5);
$lobby-font: 'Ironstrike Black', sans-serif;
$lobby-font-size: 2vw;