$green-bg-color: #008148;
$green-border-color: #5C7F4C;
$green-hover-color: #00BF6B;

$red-bg-color: #DE1A1A;
$red-border-color: #7F2211;
$red-hover-color: #BF1616;

$font-body-color: #F4F4F8;
$font-family-headings: 'MachineStd-Bold', sans-serif;

$heading-color: #e0a93d;