@font-face {
  font-family: "Ironstrike Black";
  src: url("../fonts/Ironstrike Black.otf");
}
@font-face {
  font-family: "MachineStd-Bold";
  src: url("../fonts/MachineStd-Bold.otf");
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url("../img/shipmetal.png") no-repeat;
  background-size: cover;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* PARENT CSS */
.sub-logo, .main-logo {
  font-family: "MachineStd-Bold", sans-serif;
  color: #e0a93d;
}

/* CLASSES */
.create-acct-btns {
  text-align: center;
}

.done-word {
  display: none;
}

.forms {
  margin: auto;
  width: 500px;
}

.lobby-heading {
  color: #E8EBF7;
  font-family: "Ironstrike Black", sans-serif;
  font-size: 2vw;
}

.login-btns {
  text-align: center;
}

.main-logo {
  font-size: 150pt;
}

.pwd-chars-msg {
  color: #DE1A1A;
  display: none;
  word-wrap: break-word;
}

.pw-toggle-group {
  position: relative;
}

.pw-toggle-group a {
  position: absolute;
  right: 1em;
  top: 0.5em;
  color: black;
}

.pw-toggle-group a.pw-hide {
  color: black;
}

.pw-toggle-group a:hover,
.pw-toggle-group a:focus {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.sub-logo {
  font-size: 7vw;
  position: absolute;
  bottom: 1%;
  left: 0;
}

.sub-title {
  font-family: "MachineStd-Bold", sans-serif;
  color: #e0a93d;
  font-size: 100pt;
  text-align: center;
}

.user-forms {
  display: block;
  margin: auto;
}

/* IDs */
#battleship-load {
  display: none;
  margin: auto;
}

#challenge-btns {
  text-align: center;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

#challenge-table {
  background: rgba(232, 235, 247, 0.25);
}

#challenge-table table {
  background: rgba(232, 235, 247, 0.25);
  margin: 0;
}

#chat-box {
  background: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  color: #e0a93d;
  height: 75%;
  overflow: auto;
}

#input-chat-text {
  margin-top: 5%;
  margin-bottom: 0;
}

#lobby-chat {
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 30%;
  height: 25%;
}

#lobby-container {
  position: relative;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

#lobby-table {
  background: rgba(232, 235, 247, 0.25);
  flex: 1 1 auto;
}

#main-landing {
  margin: auto;
  text-align: center;
  width: 95%;
}

/*#settings-btn {
  float: left;
  margin-left: 5%;
}

#start-match-btn {
  float: right;
  margin-right: 5%;
}*/
#user-challenge {
  width: 30%;
  height: 25%;
  position: absolute;
  left: 0;
  top: 5%;
  bottom: 1%;
  display: flex;
  flex-flow: column;
}

#user-lobby {
  position: absolute;
  right: 0;
  top: 5%;
  bottom: 1%;
  height: 90%;
  width: 50%;
  display: flex;
  flex-flow: column;
}

#user-msg {
  display: none;
}

/* BOOTSTRAP OVERRIDES */
.alert-danger {
  background-color: #DE1A1A;
  border-color: #7F2211;
  color: #E8EBF7;
}

.alert-success {
  background-color: #008148;
  border-color: #5C7F4C;
  color: #E8EBF7;
}

.btn-danger {
  background: #DE1A1A;
  border-color: #7F2211;
}

.btn-danger:hover {
  background: #BF1616;
}

.btn-success {
  background: #008148;
  border-color: #5C7F4C;
}

.btn-success:hover {
  background: #00BF6B;
}

.table {
  color: black;
  font-weight: bold;
  background-color: rgba(232, 235, 247, 0.25);
}

textarea {
  resize: none;
}

/*# sourceMappingURL=styles.css.map */
