@charset "UTF-8";
@font-face {
  font-family: "Ironstrike Black";
  src: url("../fonts/Ironstrike Black.otf");
}
@font-face {
  font-family: "MachineStd-Bold";
  src: url("../fonts/MachineStd-Bold.otf");
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url("../img/shipmetal.png") no-repeat;
  background-size: cover;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* PARENT CSS */
.table, #user-menu-body, #login-redirect, #login-redirect a, #login-redirect a:hover {
  color: #E8EBF7;
  font-weight: bold;
}

.sub-logo, .main-logo {
  font-family: "MachineStd-Bold", sans-serif;
  color: #e0a93d;
}

.btn-warning:visited, .btn-warning:focus, .btn-warning:active {
  background: #A98228;
  border-color: #917220;
  color: white;
}

/* SVG STYLING */
.cls-1 {
  fill: #ced3dc;
  stroke: #000;
  stroke-miterlimit: 10;
}

/* CLASSES */
.bad-msg {
  color: #DE1A1A;
}

.battleship_cell {
  fill: #246EA6;
  fill-opacity: 0.85;
  stroke-width: 2px;
  stroke: black;
}

.chat-err-msg {
  color: #DE1A1A;
}

.create-acct-btns {
  text-align: center;
}

.done-word {
  display: none;
}

.err-msg {
  margin: auto;
  text-align: center;
}

.forms {
  margin: auto;
  width: 500px;
}

.good-msg {
  color: #008148;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  /* ascii code for the ellipsis character */
  width: 0px;
}

.lobby-heading {
  color: #E8EBF7;
  font-family: "Ironstrike Black", sans-serif;
  font-size: 2vw;
}

.login-btns {
  text-align: center;
}

.main-logo {
  font-size: 150pt;
}

.modal-content {
  background-color: black;
  color: #E8EBF7;
}

.pwd-chars-msg {
  color: #DE1A1A;
  display: none;
  word-wrap: break-word;
}

.pw-toggle-group {
  position: relative;
}

.pw-toggle-group a {
  position: absolute;
  right: 1em;
  top: 0.5em;
  color: black;
}

.pw-toggle-group a.pw-hide {
  color: black;
}

.pw-toggle-group a:hover,
.pw-toggle-group a:focus {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.ship-placement {
  fill: black;
  fill-opacity: 0.85;
}

.sub-logo {
  font-size: 7vw;
  position: absolute;
  bottom: 1%;
  left: 0;
}

.sub-title {
  font-family: "MachineStd-Bold", sans-serif;
  color: #e0a93d;
  font-size: 100pt;
  text-align: center;
}

.user-forms {
  display: block;
  margin: auto;
}

.user-menu-option {
  cursor: pointer;
}

.user-row {
  cursor: pointer;
}

/* IDs */
#battleship-load {
  display: none;
  margin: auto;
}

#boards-container {
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
}

#boards-container svg {
  display: block;
  margin: 1% auto 0;
}

#boards-control {
  display: flex;
  width: 700px;
  height: 15%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

#chall-err-msg {
  color: #DE1A1A;
}

#challenge-btns {
  text-align: center;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

#challenge-table {
  background: rgba(0, 0, 0, 0.5);
}

#challenge-table table {
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
}

#chat-box {
  font-weight: bold;
  color: #e0a93d;
  height: 75%;
  overflow: auto;
  background: black;
}

#err-heading {
  font-family: "MachineStd-Bold", sans-serif;
  color: #e0a93d;
  font-size: 50pt;
}

#game-boards {
  height: 70%;
}

#game-chat {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.4);
}

#game-chat-box {
  height: 150px;
  color: white;
  font-weight: bold;
  overflow-y: auto;
  padding-left: 10px;
  padding-top: 10px;
}

#game-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game-input-chat-text {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#hud-container {
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#input-chat-text {
  margin-top: 5%;
  margin-bottom: 0;
}

#lobby-chat {
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 30%;
  height: 25%;
}

#lobby-container {
  position: relative;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

#lobby-table {
  background: rgba(0, 0, 0, 0.5);
  flex: 1 1 auto;
}

#lobby-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-redirect, #login-redirect a, #login-redirect a:hover {
  color: #E8EBF7;
  text-decoration: none;
  font-size: 20pt;
}

#logout-menu-option {
  color: #DE1A1A;
}

#main-landing {
  margin: auto;
  text-align: center;
  width: 95%;
}

#new-challenge .modal-header {
  border-bottom: none;
}

#new-challenge-body .table {
  display: none;
}

#opponents-board {
  display: none;
}

#rader-alert-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ironstrike Black", sans-serif;
  font-size: 8vh;
}

#radar-hit-msg {
  color: #DE1A1A;
}

#radar-miss-msg {
  color: white;
}

#radar-msg-update {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10px;
  width: 350px;
  height: 350px;
}

#radar-msg-update img {
  width: 100%;
  height: 100%;
}

#rmve-player-btn {
  float: right;
}

#ship-names {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 50px;
  width: 80%;
  height: 35%;
  align-items: center;
}

#ship-names-txt {
  color: white;
  font-family: "Ironstrike Black", sans-serif;
  font-size: 2.5vh;
  width: 100%;
}

#ship-names-txt hr {
  border: 2px solid white;
  width: 100%;
}

#turn-tracker {
  position: absolute;
  width: 100%;
  height: 5%;
  display: flex;
  top: 400px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "Ironstrike Black", sans-serif;
  font-size: 2.5vh;
}

#turn-tracker input[type=radio] {
  margin-right: 5px;
  background-color: #e0a93d;
}

#turn-tracker input[type=radio].with-gap:checked + label:after {
  background-color: #FFA500 !important;
}

#turn-tracker input[type=radio].with-gap:checked + label:before,
[type=radio].with-gap:checked + label:after {
  border: 2px solid #FFA500 !important;
}

#user-challenge {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 0;
  top: 5%;
  bottom: 1%;
  display: flex;
  flex-flow: column;
}

#user-lobby {
  position: absolute;
  right: 0;
  top: 5%;
  bottom: 1%;
  min-height: 90%;
  max-height: 90%;
  width: 50%;
  overflow: auto;
  display: flex;
  flex-flow: column;
}

#user-menu-body {
  text-align: center;
}

#user-menu-btn {
  margin-bottom: 1rem;
}

#user-menu-label {
  color: #e0a93d;
  text-align: center;
}

#user-msg {
  display: none;
}

/* BOOTSTRAP OVERRIDES */
.alert-danger {
  background-color: #DE1A1A;
  border-color: #7F2211;
  color: #E8EBF7;
}

.alert-success {
  background-color: #008148;
  border-color: #5C7F4C;
  color: #E8EBF7;
}

.btn-danger {
  background: #DE1A1A;
  border-color: #7F2211;
}

.btn-danger:hover {
  background: #BF1616;
}

.btn-warning {
  background: #e0a93d;
  border-color: #917220;
  color: white;
}

.btn-warning:disabled {
  border-color: #917220;
  color: white;
}

.btn-warning:hover {
  background: #c79f29;
  color: white;
}

.btn-success {
  background: #008148;
  border-color: #5C7F4C;
}

.btn-success:hover {
  background: #00a65a;
}

.close, .close:hover {
  color: #E8EBF7;
}

.table {
  background-color: rgba(0, 0, 0, 0.5);
}

textarea {
  resize: none;
}

/* KEYFRAMES */
@keyframes ellipsis {
  to {
    width: 20px;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
